#container {
  text-align: center;

  position: absolute;
  left: 0;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
}

#container strong {
  font-size: 20px;
  line-height: 26px;
}

#container p {
  font-size: 16px;
  line-height: 22px;

  color: #8c8c8c;

  margin: 0;
}

#container a {
  text-decoration: none;
}

ion-content {
  --ion-background-color: rgba(255, 255, 255, 0.826);
}

.custom-image {
  width: 80px;
  height: 80px;
  display: block;
  margin: 0 auto; /* Center the image horizontally */
  border-radius: 50%; /* Make the image circular */
  overflow: hidden;
}
.scanimage {
  font-size: 1.5em;
  font-weight: bold;
  color: #333;
  margin: 2px;
}

.innerdiv {
  position: relative;
  border: 1px solid red;
  width: 100%;
  height: 30px;
}

.bottom-textarea {
  position: relative;
  width: 100%;
  height: 250px;
  color: black;
  border: 1px solid black;
  margin-top: 30px; /* Adjust as needed */
  background: rgb(171 166 166);
  font-weight: bold;
  bottom: 0;
}
.imagetoshow {
  border: 1px solid black;
  width: 330px;
  height: 200px;
  margin-top: 22px;
  margin-left: -2px;
  position: relative;
}
.textarea-container {
  position: relative;
}

.copy-icon {
  position: absolute;
  top: -3px;
  right: 8px;
  font-size: 33px;
  cursor: pointer;
  color: #8b66ae;
  margin-right: -10px;
}
.colorful-toast {
  --background: linear-gradient(to right, #5fff8a, #7bfe84c1, #95e276);
  --color: rgb(54, 199, 35);
  --border-radius: 8px;
}
